<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-image hide-panel-body">
        <center><h4 style="color: grey; font-size: 125%;">Explore</h5></center>
        <p style="opacity: 0.7; font-size: 90%; margin: 5px;">
          Explore is an agrregate of the sessions from all the users. You can find new buddies
          to hangout with. Session helps people from all over the world to come together and
          live in peave and harmony.
        </p>
      </div>

    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 style="color: grey; font-size: 125%;">Open Sessions</h4>
        <a href="#">Sesh One</a><br />
        <span style="color: grey">Active Users: 16,873</span><br /><br />
        <a href="#">Sesh Two</a><br />
        <span style="color: grey">Active Users: 12,892</span><br /><br />
        <a href="#">Sesh Three</a><br />
        <span style="color: grey">Active Users: 10,271</span><br /><br />
        <a href="#">Sesh Four</a><br />
        <span style="color: grey">Active Users: 19,123</span><br /><br />
        <a href="#">Sesh Five</a><br />
        <span style="color: grey">Active Users: 15,021</span><br /><br />
        <a href="#">Sesh Six</a><br />
        <span style="color: grey">Active Users: 6,175</span><br /><br />
        <a href="#">Sesh Seven</a><br />
        <span style="color: grey">Active Users: 1,272</span><br /><br />
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <%= render '/components/post_form' %><% if user_signed_in? %><br /> <br /> <% end %>

    <% for @p in @posts %>
      <div class="panel panel-default post-panel">
        <div class="panel-body row">

          <div class="col-sm-1">
            <img src="/avatar1.png" height="55px" width="55px" />
          </div>

          <div class="col-sm-11">
            <p class="post-title"><span class="post-owner"><%= User.find(@p.user_id).username %></span><span class="post-date"> - <%= @p.created_at.to_formatted_s(:short) %></span></p>
            <p class="posts-content"><%= @p.content %></p>
          </div>

          <div class="col-sm-12">
            <p class="links">
              <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
              <a href="">View Conversation</a>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="panel panel-default post-panel">
      <div class="panel-body row">
        <div class="col-sm-12">
          <center><img src="/logo.png" height="25px" width="25px" style="margin-bottom: 2vh;" />
            <a href="#top"><p class="opacity: 0.7; color: grey;">Back to Top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a>
          </center>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p style="opacity: 0.7; font-size: 90%;">© 2018  Session  About  Help  Blog  Jobs  Privacy  Policy  Ads  Info  Advertise  Settings</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5 style="color: grey; font-size: 125%;">who to follow</h5>
        <% for @u in @toFollow do %>
          <p style="font-weight: bold; oapcity: 0.85;"><a href="/user/<%= @u.username %>"><%= @u.username %></a></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
